$border-color: #f0f0f0;
$background-color: #b5c5e6;
$lighter-border-color: #c1d0ed;
$body-background: #dae1f4;
$button-background: #d4d4d4;
$print-color: #000;
$white: #fff;
$text-color: #000;
$link-color: #192d57;
$font-size: 14px;

// forms
$form-field-width: $font-size * 20;
$form-submit-width: $form-field-width / 2;
$form-label-width: $form-field-width * (2 / 3);

$site-max-width: 1170px;

$main-font: 'Trebuchet MS', Verdana, sans-serif;
$main-font-serif: 'Droid Serif', Georgia, serif;

$fa-font-path: '../Fonts';
