$top-menu-color: #484848;
$border-color: #f0f0f0;
$link-color: #930;
$background-color: #b5c5e6;
$lighter-border-color: #c1d0ed;
$print-color: #000;
$text-color: #192d57;

$footer-logo-count: 6;

$main-font: 'Trebuchet MS', Verdana, sans-serif;
$main-font-serif: Georgia, serif;
