@import 'Settings';

/*diese beiden importierten CSS-Dateien
werden unten mit den Farb-/Größenwerten für den Ausdruck überschrieben.
Container, die im Ausdruck nicht ausgegeben werden sollen, wurden mit "display:none;" markiert.
*/

/* Normalisiert margin, padding */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
blockquote,
th,
td,
p {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
	display: none;
}

html {
	height: 101%;
}

.headline-first_standard {
	color: $print-color;
	padding-bottom: .5em;
}

.headline-first_welcome {
	padding: 0;
	margin: 0;
	color: $print-color;
	font-size: 14pt;
	border: 0;
}

h1 {
	&.csc-firstHeader {
		margin-bottom: 15px;
	}
}

a {
	text-decoration: none;
}

body {
	width: 100%;
	height: 100%;
	text-align: left;
}

.intro {
	display: none;
}

.main-container {
	margin: 0 auto;
	height: auto;
	width: auto;
	max-width: 80%;
	min-width: 950px;
	padding: 0 2%;
	color: $print-color;
	font-size: 12pt;
}

/*Oberer Bereich */

#logoleiste {
	display: none;
}

#aktionsbild {
	display: none;
}

.meta-navigation {
	display: none;
}

#mittelLeiste {
	display: none;
}

.SieSindHier {
	display: none;
}

.breadcrumbs {
	display: none;
}

.breadcrumb-navigation_element {
	display: none;
}

.breadcrumb-navigation_link {
	display: none;
}

.content-container {
	float: left;
	width: 100%;
	min-width: 950px;
	padding: 4em 0 0;
	margin-bottom: 30px;
}


.main-navigation {
	display: none;
}

#cSearch {
	float: left;
	width: 52%;
	margin: 0;
	min-width: 500px;
	max-width: 1200px;
	display: inline;

	h2 {
		padding: 0;
		color: $print-color;
		font-size: 14pt;
		margin: 0;
	}
}

div .cIconsetTop,
#right,
#dbcard {
	display: none;
}

div .cIconsetBottom {
	display: none;
}

.cIconsetVerbal {
	display: none;
}

#cSearch form {
	display: none;
}

#cInhalt {
	float: left;
	width: 100%;
	margin: 0;
	display: inline;
	position: relative;
}

#cText {
	float: left;
	width: 99%;
	padding: 0;
	position: relative;
	border: 0;
}

#iport_content {
	position: relative;
}

.cIconsetTop {
	display: none;
}

.cIconsetBottom {
	display: none;
}

.woGesucht {
	width: 100%;
	font-size: 12pt;
	padding: 0;
	color: $print-color;
	margin-left: 0;
	margin-top: 0;
}

#recordtable {
	border-collapse: collapse;
	width: 100%;
	border-spacing: 0;

	caption {
		padding: 1.3em 0;
		text-align: left;
		font-size: 12pt;
	}
}

.recno {
	padding: 1em 0;
	vertical-align: top;
	border: 0;
}

.data {
	padding: 1em 0;
	vertical-align: top;
	color: $print-color;
	border: 0;
}

.data .normal_Link {
	color: $print-color;
}

.neuesFenster {
	color: $print-color;
}

.data .external_link {
	color: $print-color;
}

fieldset {
	display: none;
}

.iputStart {
	float: left;
	width: 65%;
	padding: .2em .8em;
	margin-left: 20px;
}

.submStart {
	float: right;
	width: 15%;
	min-width: 64px;
	margin: 0 20px;
	display: inline;
	padding: .1em .8em;
}

.iputStartSmall {
	width: 30%;
	padding: .2em .8em;
	margin: 1em 0 2em;
}

.submStartSmall {
	width: 5%;
	min-width: 64px;
	margin: 1em 0 2em 1em;
	display: inline;
	padding: .1em .8em;
}

#iport_goto_form,
#notify,
#gen {
	display: none;
}

.iputGoto {
	width: 30%;
	padding: .2em;
	margin: 1em 0 0 1em;
}

.submGoto {
	width: 10%;
	min-width: 64px;
	margin: 1em 0;
	display: inline;
	padding: .1em .2em;
}

#cSearch #advancedLink {
	display: block;
	padding: 1em 2em 1em 3.7em;
}

p {
	margin: 1em 0;
}

#cNews {
	float: right;
	width: 17%;
	max-width: 190px;
	height: 40em;
	display: inline;
	margin-top: -57px;
	padding: .9em;
}

.newsTeaser {
	padding: 1em 0 1.5em;

	h2 {
		margin-bottom: 5px;
	}
}

.csc-linkToTop {
	display: none;
}

.close {
	display: none;
}
