@import 'Settings';
@import 'Elements/font-awesome/font-awesome';
@import 'Mixins/file-links';
@import 'Elements/base';
@import 'Elements/forms';
@import 'Sections/main-navigation';
@import 'Sections/top-navigation';
@import 'Sections/breadcrumbs';
@import 'Sections/language-menu';
@import 'Sections/content-container';
@import 'Sections/main-container';
@import 'Sections/header';
@import 'Sections/content';
@import 'Sections/pazpar2';
@import 'Sections/ezbrequest';
@import 'Sections/news';
@import 'Sections/sitemap';
@import 'Sections/tabs';
@import 'Sections/subject-search';
@import 'Sections/mathematicians';

@include file-links('pdf');
@include file-links('dvi');
@include file-links('dvi.gz');
@include file-links('ps');
@include file-links('ps.gz');
@include file-links('djvu');
@include file-links('txt');
@include file-links('html');

td.data a.external_link {
	color: $link-color;
}

.main {
	display: flex;
	flex-flow: row;
}

a.buttonlink {
	border-right: 1px solid $border-color;
}

.first,
.second,
.advFirst {
	background-color: $background-color;
	border-bottom: 1px solid $lighter-border-color;
}

#tree a,
ul.tabs li a {
	font-weight: normal;
}

ul.tabs li a.currentTab {
	font-weight: bold;
}

.first,
.advFirst {
	font-size: 93%;
	line-height: 1.4em;
}

.dbGroup {
	font-weight: bold;
}

#all,
#no {
	font-size: 1.6em;
}

span.aboText {
	font-size: 1.2em;
}

div .showResultsWrap,
div .browseLinksWrap {
	font-size: 1.2em;
}

img#allsearch {
	position: absolute;
	top: 570px;
	left: 132px;
}

#cSearch,
#c735,
#c738 {
	margin: 0;
	min-width: 500px;
	max-width: 1200px;
}

#c735 {
	#pazpar2 .pz2-mainForm {
		position: absolute;
		right: 0;
	}
}

#iport_content {
	position: relative;
}

h2.searchingIn {
	width: 50%;
	padding: 0 0 .47em;
	margin-left: 24%;
	margin-top: -1.7em;
}

a.buttonlink {
	display: inline;
	padding: 0 1em 0 0;
	margin: 0 1em 0 0;
}

#sponsorleiste {
	clear: both;
	width: 100%;
}

a.close {
	padding: 5px;
}

.hidden {
	display: none;
}

.first,
.second {
	padding: 0 0 1.3em;
}

#ttp,
#tpp {
	margin: 1em 0 0 .5em;
}

div.second a {
	float: right;
	margin: 1.2em 1.9em 0 0;
}

div.free {
	padding: 0 1.5em 1.5em;
}

.text {
	padding-left: .5em;
}

#searchMsc {
	margin-top: -.8em;
}

#catalogues,
#onlineDocs,
#internet,
#historicalMath {
	float: left;
	width: 45%;
	padding: 1em 2em 1em 0;
}

#catalogues {
	padding-top: 2.2em;
}

.all,
.no {
	padding: 0 0 0 .5em;
}

#clearer {
	clear: both;
}

#right {
	border: 0;
}

.current,
a.currentTab {
	font-weight: bold;
}

ul.csc-menu {
	margin: 1em 0 2em;
}

.ow {
	height: 70px;
	padding: 0 .3em .3em 0;
}

.externSearch {
	font-weight: bold;
	padding: .5em 0 0;
}

HR.separator-line {
	clear: right;
	height: 1px;
	border: 1px solid $lighter-border-color;
}

.menu-trigger {
	display: none;
}

@media screen and (max-width: 639px) {

	.main {
		flex-direction: column;
	}

	h1 {
		&.standard {
			margin-left: 1em;
			width: 100%;
		}
	}

	.header {
		.actionsPicture {
			display: none;
		}
	}

	.top-navigation {
		width: 100%;

		li {
			a {
				padding: 0;
				margin: 0 .5em 0;
			}
		}
	}

	.main-navigation {
		max-width: 100%;
		position: absolute;
		width: 260px;
		left: -280px;
	}

	.main-container {
		max-width: 100%;
	}

	.menu-trigger {
		display: inline-block;
		position: absolute;
		background: #fff;
		color: $text-color;
		z-index: 99;
		border: 0;
		margin-top: 11px;

		&:before {
			content: '\f0c9';
			font-family: fontawesome;
			margin-right: .3em;
		}

		&:hover {
			cursor: pointer;
			background: rgba(0, 0, 0, .05);
			color: #fff;
		}

		&:active,
		&:focus,
		&:hover {
			border: 0;
			outline: 0;
		}
	}

	.breadcrumbs {
		text-align: right;
		margin-top: 13px;

		.SieSindHier {
			display: none;
		}
	}
}
