.breadcrumbs {
	font-size: 80%;
	width: 100%;
	height: auto;
	min-height: 1.5em;
	flex: 1;
	margin-top: 2px;
	letter-spacing: .1em;

	.breadcrumb-navigation {
		list-style-type: none;
		padding: 0;
		width: auto;
		display: inline-block;
	}

	.breadcrumb-navigation_element {
		text-transform: uppercase;
		display: inline;
		padding: 0;
	}

	.breadcrumb-navigation_link {
		padding: 0 5px;
		color: $text-color;
		font-weight: normal;

		&:hover {
			text-decoration: underline;
		}
	}
}

