.breadcrumbs {
	font-size: 80%;
	width: 100%;
	height: auto;
	min-height: 1.5em;
	flex: 1;
	margin-top: 2px;
	letter-spacing: .1em;

	.breadcrumb-navigation {
		list-style-type: none;
		padding: 0;
		width: auto;
		display: inline-block;
	}

	.breadcrumb-navigation_element {
		text-transform: uppercase;
		display: inline;
		padding: 0;

		&:not(:last-child):after {
			content: '\f105';
			font-family: fontawesome;
			margin-left: .5em;
			margin-right: .5em;
		}
	}

	.breadcrumb-navigation_link {
		padding: 0;
		color: $text-color;
		font-weight: normal;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

	}
}

