.content-container {
	font-size: 90%;
	width: 100%;
	padding: 4em 0 0;
	margin-bottom: 1em;
	transform: translate3d(0, 0, 0);
	transition: transform .3s;

	&.is-open {
		transform: translate3d(260px, 0, 0);
	}
}
