.main-content {
    min-width: 100%;

    li {
        list-style-type: square;
        margin-left: 2em;
        padding-left: 0;
    }
}

.main {
    @extend .row;
    margin-left: 0;
}

.main.one-column {
    @extend .col-md-12;
}

.main.two-columns {
    .main-sidebar {
        @extend .col-md-4;
    }
    .main-content {
        @extend .col-md-8;
    }
}
