.tx-ezbrequest-pi1 {

	#navi {
		height: 2.5em;
	}

	#journalNavi {
		padding: .7em 0;
		border-bottom: 1px solid $border-color;

		li {
			padding: 0;
		}
	}

	#journalList {
		max-width: 80%;

		li {
			margin-left: 32px;
			list-style-type: none;

			.ampel {
				left: -32px;
			}
		}

		a {
			color: $text-color;
		}
	}

	#ezb_search_form {

		.iputStartSmall {
			@include input-text;
			width: ($form-field-width / 2);
		}
	}

	.jourItem {
		padding-top: .3em;
	}

	.alphabetMenu {
		li {
			margin-left: 0;
			letter-spacing: 1px;
		}
	}

	.ezbrequest_itemtable {
		@include table;
	}

}
