.tx-ezbrequest-pi1 {

    #navi {
        @extend .row;
    }

    #journalNavi {
        @extend .col-md-8;
    }

    #journalList {
        li {
            margin-left: 2 * $font-size;
            list-style-type: none;

            .ampel {
                left: -2 * $font-size;
            }
        }

        a {
            color: $text-color;
        }
    }

    #ezb_search_form {
        @extend .col-md-4;

        form {
            @extend .form-inline;
        }

        input[type=text] {
            @extend .form-control;
        }

        .submStartSmall {
            @extend .btn;
            @extend .btn-primary;
        }
    }

    .jourItem {
        padding-top: .3em;
    }

    .alphabetMenu {
        li {
            margin-left: 0;
            letter-spacing: 1px;
        }
    }

    .ezbrequest_itemtable {
        @extend .table;
    }

    .journallist-image {
        vertical-align: baseline;
    }
}
