.tx-ezbrequest-pi1 {

	#navi {
		height: 2.5em;
	}

	#journalNavi {
		padding-top: .8em;

		li {
			padding: 0;
		}
	}

	#journalList {
		li {
			margin-left: 32px;

			span.ampel {
				left: -32px;
			}
		}

		a {
			color: $text-color;
		}
	}

	#ezb_search_form {

		.iputStartSmall {
			width: ($form-field-width / 2);
		}
	}

	.jourItem {
		padding-top: 0.3em;
	}
}
