.footer {

	.footer-logo-bar {
		border-top: 1px solid #fff;
		width: 100%;
		padding-top: 10px;
		a {
			/* Diesen Wert (width:x%) anpassen, wenn ein Sponsor dazukommt */
			@include footer-logo-width;
			height: 51px;
			display: block;
			float: left;
		}
	}

	@include footer-logo('dfg');
	@include footer-logo('gau');
	@include footer-logo('sub');
	@include footer-logo('tib');
	@include footer-logo('fiz');
	@include footer-logo('math');

}
