.header {
	display: flex;
	width: auto;
	height: auto;

	.logo {
		flex: 3 1 60%;
		height: auto;
		margin-top: .5em;
	}

	.actionsPicture {
		flex: 2 1 40%;
		height: auto;
		text-align: right;

		img {
			border: 0;
		}
	}
}
