.header {
	min-width: 950px;
	width: auto;
	height: auto;

	.logo {
		float: left;
		width: auto;
		min-width: 603px;
		max-width: 658px;
		height: auto;
		margin-top: 0;
	}

	.actionsPicture {
		display: block;
		float: right;
		min-width: 272px;
		max-width: 272px;
		width: 272px;
		height: auto;

		img {
			border: none;
		}
	}
}
