.languagemenu {

    .languagemenu_switch {
        margin-left: 1em;
        text-decoration: none;

        &:before {
            content: '\f0ac';
            font-family: $icon-font;
            margin-right: .5em;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}
