.main-navigation {
	border-bottom: 1px solid $border-color;
	list-style-type: none;
	padding: 0;
	width: $font-size * 16;
	max-width: $font-size * 16;
	min-width: $font-size * 16;
	flex: 1 6 20%;
	order: 1;

	@include breakpoint('xs') {
		max-width: 100%;
		position: absolute;
		width: 260px;
		left: -280px;
	}

	.main-navigation_link {
		border-top: 1px solid $border-color;
		color: $text-color;
		font-weight: normal;
		line-height: .75em;
		letter-spacing: .1em;
		display: block;
		padding: .8em .6em;
		text-decoration: none;

		&:hover {
			color: $white;
			border-top: 1px solid $border-color;
			background-color: $background-color;
			line-height: .75em;
			letter-spacing: .1em;
			display: block;
			padding: .8em .6em;
		}

		&.act {
			font-weight: bolder;
		}

		&:before {
			content: '›';
			font-size: 1.6em;
			margin-right: .3em;
		}
	}

	.main-navigation_element {
		display: inline;
		padding: 0;
		font-size: 100%;

		&#allsearch {

			a {

				&:hover {
					background-color: transparent;
				}
			}
		}

		&.current {
			.main-navigation_link {
				font-weight: bold;
			}
		}

		&.trenner {
			border-top: 1px solid $border-color;
			line-height: .75em;
			letter-spacing: .1em;
			display: block;
			padding: .8em .6em;
		}

	}

}

/* Highlight current menu item; Use .homepage .first classes as a hack to make this to work for the homepage */
.homepage .main-navigation_element:first-child .main-navigation_link {
	font-weight: bold;
}
