.main-navigation {
    @extend .navbar;
    @extend .navbar-expand-lg;
    @extend .navbar-light;
    @extend .bg-white;

    border-top: 1px solid $background-color;
    border-bottom: 1px solid $background-color;
    background-color: white;
}

/* Highlight current menu item; Use .homepage .first classes as a hack to make this to work for the homepage */
.homepage .main-navigation_element:first-child .main-navigation_link {
    font-weight: bold;
}

.main-navigation_link {
    @extend .nav-link;
}

.main-navigation_element {
    @extend .nav-item;
}
