.tx-mathematicians {
	.collection {
		font-weight: bold;
	}

	.owResult a img {
		padding: .5em;
	}

	#genResult {
		width: 50em;

		table {
			@include table;
			margin-left: 0;
		}
	}

	#simpleSearch {
		width: 100%;
		max-width: 900px;
		min-width: 700px;
		margin-bottom: 2em;
	}

	.submStart {
		margin: 0 1em;
		float: none;

	}

}
