.tx-mathematicians {
    .collection {
        font-weight: bold;
    }

    form {
        @extend .form-inline;
    }

    .owResult a img {
        padding: .5em;
    }

    #genResult {
        width: 50em;

        table {
            @extend .table;
            margin-left: 0;
        }
    }

    #simpleSearch {
        margin-bottom: 1em;
    }

    .iputStart {
        @extend .form-control;
    }

    .submStartSmall,
    .submStart {
        @extend .btn;
        @extend .btn-primary;
    }

    .mathematicians_collection-header {
        img {
            vertical-align: text-bottom;
        }
    }
}
