.tx-mathematicians {
	.collection {
		font-weight: bold;
	}

	.owResult a img {
		padding: .5em;
	}

	#genResult {
		width: 600px;

		table {
			width: 90%;
			padding-bottom: 2.5em;
		}
	}

	#simpleSearch {
		width: 100%;
		max-width: 900px;
		min-width: 700px;
	}

	.clear2 {
		clear: both;
		padding: 2em;
	}

	.submStart {
		margin: 0 20px 0 10px;
		float: none;

	}

	.iputStart {
		float: none;
	}
}
