.meta-navigation {
    list-style-type: none;
    font-size: 95%;
    text-align: center;

    .metanavigation-element {
        display: inline-block;
        padding: 0;
    }

    .metanavigation-element_link {
        font-weight: normal;
        display: inline;
        padding: 0 1em;
        margin: 0;
        color: $text-color;
        border-right: 1px solid $border-color;
        text-decoration: none;

        &.act {
            font-weight: bolder;
        }

        &:hover {
            text-decoration: underline;
        }
    }

}
