.meta-navigation {
	list-style-type: none;
	font-size: 95%;
	margin-bottom: 1em;
	padding-top: 1em;
	text-align: center;
	border-top: 1px solid $border-color;

	@include breakpoint('xs') {
		width: 100%;
	}

	.metanavigation-element {
		display: inline;
		padding: 0;
	}

	.metanavigation-element_link {
		font-weight: normal;
		display: inline;
		padding: 0 1em;
		margin: 0 1em 0 0;
		color: $text-color;
		border-right: 1px solid $border-color;
		text-decoration: none;

		@include breakpoint('xs') {
			padding: 0;
			margin: 0 .5em;
		}

		&.act {
			font-weight: bolder;
		}

		&:hover {
			text-decoration: underline;
		}
	}

}
