.newsTeaser {
	border-top: 1px solid $white;
	padding: .6em 0 1em;

	h2 {
		font-family: $main-font-serif;
		font-size: 125%;
	}

	h3 {
		margin-bottom: 0;
		padding-bottom: 0;
		color: $white;
	}

	a {
		color: #f7e2a0;
		font-weight: bold;
	}

	p.bodytext {
		font-size: 110%;
	}
}

.news-list-container .showResultsWrap {
	display: none;
}

#newsnavi {
	position: relative;
	width: 100%;
	text-align: right;
	float: right;
	top: -35px;
}

.news-list-date {
	float: right;
	color: $text-color;
	height: 20px;
	margin-top: -2px;
	margin-right: -2px;
	font-size: .8em;
	font-weight: normal;
}

/* Hide duplicate more link in news list*/
span.news-list-morelink {
	display: none;
}

.news-list-entry {
	clear: both;
	padding-bottom: 1em;
	border-bottom: 1px solid $white;
	width: 100%;

	.news-list-header {
		min-width: 0;
	}

}
