.newsTeaser {
    border-top: 1px solid $white;
    padding: .6em 0 1em;

    h2 {
        font-size: 125%;
    }

    h3 {
        margin-bottom: 0;
        padding-bottom: 0;
        color: $white;
    }
}

.news-list-header {
    @extend .row;
    @extend .justify-content-between;

    .news-list-headline {
        @extend .col-10;

        padding-top: 0;
        padding-bottom: 0;
        line-height: $line-height-base;
    }

    .news-list-date {
        @extend .col-2;
        @extend .text-right;

        font-size: .8em;
        font-weight: normal;
    }
}

.news-list-container .showResultsWrap {
    display: none;
}


/* Hide duplicate more link in news list*/
.news-list-morelink {
    display: none;
}

.news-list-entry {
    padding-bottom: 1em;

    .news-list-header {
        min-width: 0;
    }

    .more {
        &:before {
            content: '\f105';
            font-family: $icon-font;
        }
    }
}

.news-backlink-wrap {
    a {
        &:before {
            font-family: $icon-font;
            content: '\f177';
        }
    }
}
