#pazpar2 {
	display: flex;
	flex-flow: column;

	width: 100%;

	#pz2-recordView {
		order: 2;
	}

	#pz2-termLists {
		.pz2-progressIndicator {
			display: none;
		}

		li {
			margin-left: 0;
		}
	}

	.pz2-resultList .pz2-mediaIcon {
		top: -3px;
		left: -33px;
	}

	.pz2-prev:after,
	.pz2-next:after {
		top: .05em;
	}

	.pz2-pager {
		li {
			a {
				padding: 0 .3em;
			}
		}

		.pz2-currentPage {
			padding: 0 .3em;
		}
	}

	.pz2-mainForm {
		line-height: 180%;
		top: 90px !important;
	}

	.pz2-fieldsets ul {
		margin-left: 1.5em;

		li {
			padding: 0;

			&.inline {
				margin-left: 0;
			}
		}
	}

	.pz2-mainForm {
		@include breakpoint('xs') {
			top: 58px !important;
		}
	}

	.pz2-basic {
		order: 1;
	}

	.pz2-termList {
		li {
			padding: 2px 0;
		}
	}

	.pz2-termList-medium li {
		padding: 0;
	}

	.pz2-journal-subpart {
		font-weight: normal;
	}

	.pz2-mediaIcon {

		&:before {
			top: -3px;
		}

		&:after {
			color: $text-color;
			top: -3px;
		}
	}

	.pz2-details {
		dl {
			line-height: 130%;
		}

		dd {
			margin-left: 11em;
		}
	}

	.pz2-detail-catalogueLink {
		background: transparent;
	}

	.pz2-extraLinks {
		form {
			background: transparent;
		}

		input {
			margin-left: 1em;
		}

		&:hover {
			color: $link-color;
		}
	}
}

#pz2-results {
	.pz2-recordLink {
		color: $text-color;
		font-weight: normal;

		&:after {
			&:hover {
				color: $link-color;
			}
		}
	}

	.pz2-resultList {
		padding-left: 30px;
	}

	.pz2-details dl ul li {
		list-style-type: circle;
	}
}

.pz2-months {
	@include input-select;
}

.pz2-searchField {
	border-color: $lighter-border-color !important;
}
