#pazpar2 {
	display: flex;
	flex-flow: column;

	width: 100%;

	#pz2-recordView {

		order: 2;

		@include breakpoint('xs') {
			display: flex;
			flex-direction: column;
		}

	}

	#pz2-termLists {

		@include breakpoint('xs') {
			order: 6;
			float: none;
			width: 100%;
		}

		li {
			margin-left: 0;
		}

		.pz2-progressIndicator {
			display: none;
		}

	}

	.pz2-resultList .pz2-mediaIcon {
		top: -3px;
		left: -33px;
	}

	.pz2-prev:after,
	.pz2-next:after {
		@include breakpoint('xs') {
			display: none;
		}
	}

	.pz2-prev,
	.pz2-next {

		@include breakpoint('xs') {
			position: static;
			top: 0;
			width: auto;
			height: auto;
			text-indent: 0;
			overflow: visible;
		}

	}

	.pz2-pager {
		li {
			a {
				padding: 0 .3em;
			}
		}

		.pz2-pageNumbers {
			@include breakpoint('xs') {
				margin-right: 0;
				text-align: left;
			}
		}

		.pz2-currentPage {
			padding: 0 .3em;
		}
	}

	.pz2-mainForm {
		line-height: 180%;
	}

	.pz2-fieldsets ul {
		margin-left: 1.5em;

		li {
			padding: 0;

			&.inline {
				margin-left: 0;
			}
		}
	}

	.pz2-mainForm {
		@include breakpoint('xs') {
			top: 58px !important;
		}
	}

	.pz2-basic {
		order: 1;

		.pz2-searchField {
			@include breakpoint('xs') {
				width: auto;
			}
		}
	}

	.pz2-termList {
		li {
			padding: 2px 0;
		}
	}

	.pz2-termList-medium li {
		padding: 0;
	}

	.pz2-journal-subpart {
		font-weight: normal;
	}

	.pz2-mediaIcon {

		&:before {
			top: -3px;
		}

		&:after {
			color: $text-color;
			top: -3px;
		}
	}

	.pz2-details {
		dl {
			line-height: 130%;
		}

		dd {

			margin-left: 11em;

			@include breakpoint('xs') {
				margin-left: 8em;
			}

		}

		dt {
			@include breakpoint('xs') {
				width: 0;
			}
		}
	}

	.pz2-detail-catalogueLink {
		background: transparent;
	}

	.pz2-extraLinks {
		form {
			background: transparent;
		}

		input {
			margin-left: 1em;
		}

		&:hover {
			color: $link-color;
		}
	}

	.pz2-submitButton {
		float: left;
		background: $white;
		border: 1px solid #c1d0ed;
		border-radius: 5px;
		color: #555555;
		width: 160px;
		min-width: 160px;
		display: inline;
		height: 30px;
		text-transform: uppercase;
		padding: 4px;
	}

	.pz2-searchField {
		background: $white;
		padding: 4px;
		font-size: 100%;
		text-indent: 0.5em;
		border-radius: 5px;
	}

}

#pz2-results {

	@include breakpoint('xs') {
		margin-right: 0 !important;
	}

	.pz2-recordLink {
		color: $text-color;
		font-weight: normal;

		&:after {
			&:hover {
				color: $link-color;
			}
		}
	}

	.pz2-resultList {
		padding-left: 30px;

		@include breakpoint('xs') {
			order: 3;
			padding-left: 0 !important;
		}

	}

	.pz2-details dl ul li {
		list-style-type: circle;
	}
}

.pz2-months {
	@include input-select;
}

.pz2-searchField {
	border-color: $lighter-border-color !important;

	@include breakpoint('xs') {
		width: auto;
	}
}

.pz2-pages {
	li {
		margin-left: 0;
	}
}

.pz2-extendedLink {
	&:hover {
		text-decoration: none;
	}
}

.pz2-atomLink {
	&:before {
		content: '\f09e';
		font-family: $icon-font;
		margin: 0 .5em;
	}
}