#sitemap {
	padding: 1em 0;
	color: #9caede;

	ul li {
		list-style-type: disc;
		list-style-position: inside;
		padding-bottom: .3em;
		padding-top: .3em;
	}

	a {
		color: $text-color;
		font-weight: normal;
	}
}
