.content-container {
    @extend .container;

    .gokContainer.column {
        @extend .row;

        ul {
            @extend .col;

            background-color: $white;
        }

        li {
            padding: 0;
            border: 0;
            list-style-type: none;

            &.selected {
                background: $background-color;
            }

            &.open,
            &.close {
                a {
                    color: $text-color;
                }

                &:after {
                    top: .5em;
                    right: .3em;
                }
            }

            a {
                border-bottom: 1px dotted $text-color;
                padding: .5em;
                color: $link-color;
                font-weight: normal;
                text-decoration: none;
            }
        }

        .close {
            float: none;
            font-size: $font-size;
            opacity: 1;
            padding: 5px;
        }

        .GOKID {
            font-weight: bold;
        }
    }
}
