.content-container {
    @extend .container;

    .gokContainer.column {
        @include make-row;

        //.checkButton {
        //    @extend .col;
        //    @extend .list-group-item;
        //    padding: 0 5px;
        //    font-size: $font-size;
        //
        //    &:after {
        //      top: .5em;
        //      right: .3em;
        //    }
        //}

        select {
            @extend .powermail_select;
        }

        ul {
            @extend .col;
            @extend .list-group;

            background-color: $white;
        }

        li {
            @extend .list-group-item;

            padding: 0;
            border: 0;
            list-style-type: none;

            &.selected {
                background: $background-color;
            }

            &.open,
            &.close {
                a {
                    color: $text-color;
                }

                &:after {
                    top: .5em;
                    right: .3em;
                }
            }

            a {
                padding: .5em;
                color: $link-color;
                font-weight: normal;
                text-decoration: none;
                border: 0;
            }
        }

        .close {
            @extend .active;
            float: none;
            font-size: $font-size;
            opacity: 1;
            padding: 5px;
        }

        .GOKID {
            font-weight: bold;
        }

    }
}
