.content-container {
    .gokContainer.column {
        ul {
            width: 24%;
            padding: 0;
            background: transparent;
        }

        li {
            padding: 0;
            border: 0 none;
            list-style-type: none;

            &.selected {
                background: $background-color;
            }

            &.open,
            &.close {

                a {
                    color: $text-color;
                }

                &:after {
                    top: .5em;
                    right: .3em;
                }
            }

            a {
                border-bottom: 1px dotted $text-color;
                padding: .5em;
                color: $link-color;
                font-weight: normal;
                text-decoration: none;
            }
        }

        .close {
            float: none;
            font-size: $font-size;
            opacity: 1;
        }

        .GOKID {
            font-weight: bold;
        }
    }
}
