.top-navigation {
	list-style-type: none;
	font-size: 95%;
	color: $top-menu-color;
	width: 80%;
	height: auto;
	padding: 0;
	display: block;
	position: absolute;

	li {
		color: $top-menu-color;
		display: inline;
		padding: 0;

		a {
			font-weight: normal;
			display: inline;
			padding: 0 1em;
			margin: 0 1em 0 0;
			color: $top-menu-color;
			border-right: 1px solid $border-color;

			&.act {
				font-weight: bolder;
			}
		}

		&.sprachAnzeige {
			color: $top-menu-color;
		}

		&.langMenu a img {
			display: inline;
			padding: .2em 0 0;
		}
	}

}
