body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
blockquote,
th,
td,
p {
    margin: 0;
    padding: 0;
}

a {
    color: $link-color;

    &.external-link-new-window {
        color: $link-color;

        &:after {
            content: ' \f08e';
            font-family: fontawesome;
            font-size: 80%;
            color: $text-color;
            font-weight: normal;
            text-decoration: none;
        }
    }
}

body {
    color: $text-color;
    font-size: $font-size;
    font-family: $main-font;
    margin-top: 1em;
}

strong {
    background: $background-color;
}

h2 {
    &.searchingIn {
        color: $text-color;
        font-weight: normal;
        font-size: 1.29em;
        letter-spacing: .1em;
    }
}

h3,
h4 {
    padding: .7em 0 .3em;
}

p {
    line-height: 1.5 * $font-size;
    margin: 1em 0;
}

img {
    border: 0;
}

fieldset {
    border: 0;
}

button {
    font-size: $font-size;
}

.hidden {
    display: none;
}

input,
select {
    font-family: $main-font;
}

.headline-first_standard {
    font-weight: bold;
    font-size: 1.5 * $font-size;
    letter-spacing: .03em;
}

.headline-first_welcome {
    font-weight: bold;
    font-size: 1.5 * $font-size;
    letter-spacing: .03em;
    padding: 0 0 1.6em 1em;
}
