.csc-form-element-textline input[type=text],
.powermail_input,
.powermail_textarea {
    @extend .form-control;
}

.csc-form-element-select select,
.powermail_select {
    @extend .form-control;
}

.csc-form-element-submit input,
.powermail_submit {
    @extend .btn;
    @extend .btn-primary;
}

#simpleSearch,
#advancedSearch {
    width: 70%;
}

.csc-mailform,
.frame-type-form_formframework {
    li {
        list-style-type: none !important;
        margin-left: 0 !important;
    }
}

form {
    .actions {
        float: left;
        clear: both;
    }
}

.powermail_fieldwrap,
.csc-form-element {
    @extend .form-group;
}

.powermail_legend,
.csc-mailform legend,
.form-group legend {
    @include form-legend;
}

.csc-mailform label {
    @include form-label;
}

.powermail_label,
.control-label {
    @include form-label;

    &:after {
        cursor: help;
        content: '\f129';
        display: inline-block;
        height: $font-size;
        width: $font-size;
        line-height: $font-size;
        margin: 0 0 0 2px;
        font-size: $font-size;
        text-align: center;
        font-family: $icon-font;
    }

    &[title=""] {
        cursor: inherit;

        &:after {
            display: none;
        }
    }
}

.powermail_check_outer {
    float: left;

    .powermail_check_inner {
        float: left;
        margin: 0;
    }
}

.powermail_form h3 {
    display: none;
}
