$button-background: #d4d4d4;
$button-background-alternate: #b4b4b4;

.csc-mailform {
	padding-top: 0.8em;
}

input.iputStart,
#mailformname,
#mailformtitle,
#mailformauthor,
#mailformmail,
#mailformmsc,
#mailformmscverbal,
#mailformkeywords,
#mailformurl {
	background: #fff url('../Images/bg_search_input.jpg') repeat-x;
	border: 1px solid #aaa;
	color: #695a5c;
}

.iputStartSmall,
.csc-form-element-textline input[type=text] {
	border-style: solid;
	border-width: 1px;
	border-color: $button-background $button-background-alternate $button-background-alternate $button-background;
	width: $form-field-width;
	padding: .2em .8em;
	margin: 1em 0 2em;
}

.csc-form-element-select select {
	width: $form-field-width;
	height: 30px;
}

.submStartSmall {
	background: $button-background;
	border-style: solid;
	border-width: 1px;
	border-color: $button-background $button-background-alternate $button-background-alternate $button-background;
	color: $text-color;
	width: $form-submit-width;
	min-width: $form-submit-width;
	margin: 1em 0 2em 10px;
	display: inline;
	padding: .1em .8em;
	height: 1.7em;
	text-transform: capitalize;
}

.iputStart {
	float: left;
	width: 65%;
	padding: .2em .8em;
	margin-left: 20px;
}

#searchTerm.iputStart {
	float: left;
	width: 62%;
	padding: .2em .8em;
	margin-left: 20px;
}

.submStart,
.csc-form-element-submit input{
	float: left;
	width: 15%;
	min-width: $form-submit-width;
	margin: 0 20px 20px #{(196.25 + $form-field-width - $form-submit-width)};
	display: inline;
	padding: .1em .8em;
}

#cSearch a#advancedLink {
	display: block;
	padding: 1em 2em 1em 1.7em;
}

form#simpleSearch,
form#advancedSearch {
	width: 70%;
	margin-top: 2em;
}

.csc-form-element-textline input[type=text] {
	padding: .2em 0;
	margin: 0;
}

.csc-mailform-field label {
	vertical-align: top;
}

.csc-form-element {
	float: left;
	width: 100%;
	clear: both;
}
