$open-sans-path: '../fonts' !default;
$open-sans-formats: ('eot', 'svg', 'ttf', 'woff') !default;

@mixin open-sans-font-face($font, $svgid, $weight: normal, $style: normal) {
    $src: ();
    $eot: null;

    @each $format in $open-sans-formats {
        @if $format == 'eot' {
            $src: $src, url('#{$open-sans-path}/#{$font}/opensans-#{$font}-webfont.eot#iefix') format('embedded-opentype');
            $eot: url('#{$open-sans-path}/#{$font}/opensans-#{$font}-webfont.eot');
        }
        @if $format == 'svg' {
            $src: $src, url('#{$open-sans-path}/#{$font}/opensans-#{$font}-webfont.svg##{$svgid}') format('svg');
        }
        @if $format == 'ttf' {
            $src: $src, url('#{$open-sans-path}/#{$font}/opensans-#{$font}-webfont.ttf') format('ttf');
        }
        @if $format == 'woff' {
            $src: $src, url('#{$open-sans-path}/#{$font}/opensans-#{$font}-webfont.woff') format('woff');
        }
    }

    @font-face {
        font-family: 'Open Sans';
        @if $eot != null {
            src: $eot;
        }
        src: $src;
        font-weight: $weight;
        font-style: $style;
    }
}

@mixin open-sans-font-face-bold {
    @include open-sans-font-face('bold', 'OpenSansBold', bold);
}

@mixin open-sans-font-face-bold-italic {
    @include open-sans-font-face('bold-italic', 'OpenSansItalic', bold, italic);
}

@mixin open-sans-font-face-extrabold {
    @include open-sans-font-face('extrabold', 'OpenSansExtrabold', 800);
}

@mixin open-sans-font-face-extrabold-italic {
    @include open-sans-font-face('extrabold-italic', 'OpenSansExtraboldItalic', 800, italic);
}

@mixin open-sans-font-face-italic {
    @include open-sans-font-face('italic', 'OpenSansItalic', normal, italic);
}

@mixin open-sans-font-face-light {
    @include open-sans-font-face('light', 'OpenSansLight', 300);
}

@mixin open-sans-font-face-light-italic {
    @include open-sans-font-face('light-italic', 'OpenSansLightItalic', 300, italic);
}

@mixin open-sans-font-face-regular {
    @include open-sans-font-face('regular', 'OpenSansRegular');
}

@mixin open-sans-font-face-semibold {
    @include open-sans-font-face('semibold', 'OpenSansSemibold', 600);
}

@mixin open-sans-font-face-semibold-italic {
    @include open-sans-font-face('semibold-italic', 'OpenSansSemiboldItalic', 600, italic);
}
