{namespace n=GeorgRinger\News\ViewHelpers}

<div class="news-list-entry">
    <div class="news-list-header">
        <h3>
			<span class="news-list-date">
				<time datetime="{f:format.date(date:newsItem.datetime, format:'%d.%m.%Y')}">
					<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
					<meta itemprop="datePublished"
                          content="{f:format.date(date:newsItem.datetime, format:'%d.%m.%Y')}"/>
				</time>
			</span>
            <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                {newsItem.title}
            </n:link>
        </h3>
    </div>
    <div class="teaser-text">
        <f:if condition="{newsItem.teaser}">
            <f:then>
                {newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}',
                respectWordBoundaries:'1') -> f:format.html()}
            </f:then>
            <f:else>
                {newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}',
                respectWordBoundaries:'1') -> f:format.html()}
            </f:else>
        </f:if>
        <n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}">
            <f:translate key="more-link"/>
        </n:link>
    </div>
</div>
