html {
  height: 101%; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, blockquote, th, td, p {
  margin: 0;
  padding: 0; }

a {
  color: #930;
  text-decoration: none;
  font-weight: bolder; }
  a .external-link-new-window {
    color: #930;
    background: url('../Images/icon_ext_url.png') center right no-repeat;
    padding: 0 20px 0 0;
    line-height: 20px; }

body {
  color: #192d57;
  background: #dae1f4 url('../Images/bg_body.jpg') repeat-x;
  font-size: 12px;
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  text-align: center;
  width: 100%;
  height: 100%; }

li {
  list-style-type: none;
  padding: 0 0 .2em .8em; }

strong {
  background: #b5c7e7; }

h1.standard {
  color: #fff;
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 1.69em;
  letter-spacing: .149em;
  width: 50%;
  padding: 0 0 1.6em;
  margin-left: 250px; }
h1.welcome {
  color: #fff;
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 1.69em;
  letter-spacing: .149em;
  padding: 0 0 1.6em; }

h2.searchingIn {
  color: #192d57;
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 1.29em;
  letter-spacing: .1em; }
h2.csc-firstHeader {
  color: #f7e2a0;
  font-size: 180%;
  font-weight: normal;
  font-family: Georgia, serif;
  margin-bottom: 15px; }

h3, h4 {
  padding: .7em 0 .3em; }

p {
  line-height: 1.5em;
  margin: 1em 0; }

img {
  border: 0; }

fieldset {
  border: 0; }

.csc-mailform {
  padding-top: 0.8em; }

input.iputStart, #mailformname, #mailformtitle, #mailformauthor, #mailformmail, #mailformmsc, #mailformmscverbal, #mailformkeywords, #mailformurl {
  background: #fff url('../Images/bg_search_input.jpg') repeat-x;
  border: 1px solid #aaa;
  color: #695a5c; }

.iputStartSmall, .csc-form-element-textline input[type=text], .powermail_input, .powermail_textarea {
  border-style: solid;
  border-width: 1px;
  border-color: #d4d4d4 #b4b4b4 #b4b4b4 #d4d4d4;
  width: 340px;
  padding: .2em .8em;
  margin: 1em 0; }

.csc-form-element-select select, .powermail_select {
  width: 340px;
  height: 30px; }

.submStartSmall, .powermail_submit {
  background: #d4d4d4;
  border-style: solid;
  border-width: 1px;
  border-color: #d4d4d4 #b4b4b4 #b4b4b4 #d4d4d4;
  color: #192d57;
  width: 150px;
  min-width: 150px;
  margin: 1em 0 2em 10px;
  display: inline;
  padding: .1em .8em;
  height: 1.7em;
  text-transform: capitalize; }

.iputStart {
  float: left;
  width: 65%;
  padding: .2em .8em;
  margin-left: 20px; }

#searchTerm.iputStart {
  float: left;
  width: 62%;
  padding: .2em .8em;
  margin-left: 20px; }

.submStart, .csc-form-element-submit input {
  float: left;
  width: 15%;
  min-width: 150px;
  margin: 0 20px 20px 386.25px;
  display: inline;
  padding: .1em .8em; }

#cSearch a#advancedLink {
  display: block;
  padding: 1em 2em 1em 1.7em; }

form#simpleSearch, form#advancedSearch {
  width: 70%;
  margin-top: 2em; }

.powermail_fieldwrap {
  min-height: 40px;
  float: left;
  clear: both; }

.csc-form-element-textline input[type=text] {
  padding: .2em 0;
  margin: 0; }

.powermail_legend {
  margin: 20px 0;
  font-weight: bold; }

.csc-mailform-field label, .powermail_label {
  float: left;
  width: 200px;
  margin: 1em 0; }
  .csc-mailform-field label:after, .powermail_label:after {
    content: 'i';
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0 0 0 2px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold; }
  .csc-mailform-field label[title=""]:after, .powermail_label[title=""]:after {
    display: none; }
  .csc-mailform-field label:after, .powermail_label:after {
    cursor: help;
    content: 'i';
    display: inline-block;
    height: 16px;
    width: 16px;
    background-color: #fff;
    margin: 0 0 0 2px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #192d57;
    font-weight: bold; }
  .csc-mailform-field label[title=""], .powermail_label[title=""] {
    cursor: inherit; }
    .csc-mailform-field label[title=""]:after, .powermail_label[title=""]:after {
      display: none; }

.csc-form-element {
  float: left;
  width: 100%;
  clear: both; }

.powermail_check_outer {
  float: left; }
  .powermail_check_outer .powermail_check_inner {
    float: left;
    margin: 1em 0; }

.powermail_form.powermail_form_1 h3 {
  display: none; }

.main-navigation {
  border-bottom: 1px solid #f0f0f0;
  list-style-type: none;
  font-size: 108%;
  clear: left;
  float: left;
  padding: 0;
  width: 230px; }
  .main-navigation li {
    display: inline;
    padding: 0;
    font-size: 100%; }
    .main-navigation li#allsearch a:hover {
      background-color: transparent; }
    .main-navigation li.first, .main-navigation li.last {
      display: inline;
      padding: 0;
      font-size: 100%; }
    .main-navigation li.current a {
      font-weight: bold; }
    .main-navigation li.trenner {
      border-top: 1px solid #f0f0f0;
      line-height: .75em;
      letter-spacing: .1em;
      display: block;
      padding: .8em .6em; }
    .main-navigation li a {
      border-top: 1px solid #f0f0f0;
      color: #192d57;
      font-weight: normal;
      line-height: .75em;
      letter-spacing: .1em;
      display: block;
      padding: .8em .6em; }
      .main-navigation li a:hover {
        color: #fff;
        border-top: 1px solid #f0f0f0;
        background-color: #b3c3e5;
        line-height: .75em;
        letter-spacing: .1em;
        display: block;
        padding: .8em .6em; }
      .main-navigation li a.act {
        font-weight: bolder; }
  .main-navigation .menuPraefix {
    font-size: 1.6em; }

/* Highlight current menu item; Use .homepage .first classes as a hack to make this to work for the homepage */
body.homepage .main-navigation li.first a {
  font-weight: bold; }

.top-navigation {
  list-style-type: none;
  font-size: 95%;
  color: #484848;
  width: 100%;
  height: auto;
  float: left;
  margin-top: -119px;
  padding: 0; }
  .top-navigation li {
    color: #484848;
    float: left;
    display: inline;
    padding: 0; }
    .top-navigation li a {
      font-weight: normal;
      display: inline;
      padding: 0 1em;
      margin: 0 1em 0 0;
      color: #484848;
      border-right: 1px solid #f0f0f0; }
      .top-navigation li a.act {
        font-weight: bolder; }
    .top-navigation li.sprachAnzeige {
      color: #484848; }
    .top-navigation li.langMenu a img {
      display: inline;
      padding: .2em 0 0; }

.breadcrumbs {
  background-color: transparent;
  text-align: right;
  font-size: 80%;
  clear: both;
  float: left;
  width: 100%;
  min-width: 950px;
  height: auto;
  min-height: 1.5em;
  padding: .27em 0 0; }
  .breadcrumbs a {
    font-weight: normal; }
  .breadcrumbs .SieSindHier {
    float: left;
    width: auto;
    height: auto;
    letter-spacing: .1em; }
  .breadcrumbs .breadcrumb-navigation {
    list-style-type: none;
    float: left;
    padding: 0;
    width: auto; }
    .breadcrumbs .breadcrumb-navigation li {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: .1em;
      float: left;
      display: inline;
      padding: 0; }
      .breadcrumbs .breadcrumb-navigation li a {
        text-transform: uppercase;
        display: inline;
        padding: 0 5px;
        color: #192d57; }
        .breadcrumbs .breadcrumb-navigation li a:hover, .breadcrumbs .breadcrumb-navigation li a #breadSel {
          color: #fff;
          display: inline;
          padding: 0 5px; }
      .breadcrumbs .breadcrumb-navigation li span #breadSel {
        display: inline;
        padding: 0 5px; }
      .breadcrumbs .breadcrumb-navigation li #breadSel {
        display: inline;
        padding: 0 5px;
        text-transform: uppercase;
        line-height: .75em;
        letter-spacing: .1em; }
    .breadcrumbs .breadcrumb-navigation a {
      color: #192d57;
      text-transform: uppercase; }

.content-container {
  font-size: 90%;
  float: left;
  width: 100%;
  min-width: 950px;
  padding: 4em 0 0;
  margin-bottom: 30px; }

.main-container {
  background-color: transparent;
  background-image: url(../Images/bg_html.jpg);
  background-repeat: no-repeat;
  text-align: left;
  font-size: 127%;
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  margin: 0 auto;
  height: auto;
  width: auto;
  max-width: 80%;
  min-width: 950px;
  padding: 0 2%; }

.header {
  min-width: 950px;
  width: auto;
  height: auto; }
  .header .logo {
    float: left;
    width: auto;
    min-width: 603px;
    max-width: 658px;
    height: auto;
    margin-top: 0; }
  .header .actionsPicture {
    display: block;
    float: right;
    min-width: 272px;
    max-width: 272px;
    width: 272px;
    height: auto; }
    .header .actionsPicture img {
      border: none; }

#cInhalt {
  margin: 0 0 0 250px;
  min-width: 500px;
  max-width: 1200px;
  position: relative; }

#pazpar2 {
  float: left;
  width: 100%;
  font-size: 111%; }
  #pazpar2 #pz2-results ol.pz2-resultList {
    padding-left: 30px; }
  #pazpar2 .pz2-resultList .pz2-mediaIcon {
    top: -3px;
    left: -33px; }

#pazpar2 #pazpar2 .pz2-pager li a {
  padding: 0 .3em; }

#pazpar2 .pz2-prev:after, #pazpar2 .pz2-next:after {
  top: .05em; }

#pazpar2 .pz2-pager .pz2-currentPage {
  padding: 0 .3em; }

#pazpar2 #pz2-termLists .pz2-progressIndicator {
  display: none; }

#pazpar2 .pz2-termList li {
  padding: 2px 0; }

#pazpar2 .pz2-termList-medium li {
  padding: 0; }

#pz2-results .pz2-recordLink {
  color: #192d57;
  font-weight: normal; }

#pz2-results .pz2-recordLink:after:hover {
  color: #930; }

#pazpar2 .pz2-journal-subpart {
  font-weight: normal; }

#pazpar2 .pz2-mediaIcon:before, #pazpar2 .pz2-mediaIcon:after {
  top: -3px; }

#pazpar2 .pz2-mediaIcon:after {
  color: #192d57; }

#pazpar2 .pz2-details dl {
  line-height: 130%; }

#pazpar2 .pz2-details dd {
  margin-left: 11em; }

#pazpar2 #pz2-results .pz2-details dl ul li {
  list-style-type: circle; }

#pazpar2 .pz2-detail-catalogueLink {
  background: transparent; }

#pazpar2 .pz2-extraLinks form {
  background: transparent; }

#pazpar2 .pz2-extraLinks input {
  margin-left: 1em; }

#pazpar2 .pz2-extraLinks:hover {
  color: #930; }

#pazpar2 .pz2-fieldsets ul {
  margin-left: 1.5em; }

#pazpar2 .pz2-fieldsets ul li {
  padding: 0; }

#pazpar2 #pz2-mainForm {
  line-height: 180%; }

.tx-ezbrequest-pi1 #navi {
  height: 2.5em; }
.tx-ezbrequest-pi1 #journalNavi {
  padding-top: .8em; }
  .tx-ezbrequest-pi1 #journalNavi li {
    padding: 0; }
.tx-ezbrequest-pi1 #journalList li {
  margin-left: 32px; }
  .tx-ezbrequest-pi1 #journalList li span.ampel {
    left: -32px; }
.tx-ezbrequest-pi1 #journalList a {
  color: #192d57; }
.tx-ezbrequest-pi1 #ezb_search_form .iputStartSmall {
  width: 170px; }
.tx-ezbrequest-pi1 .jourItem {
  padding-top: 0.3em; }

#cNews {
  border: 8px solid #e5eaf7;
  background: #c8d4ee url(../Images/bg_newsContainer.jpg) repeat-x;
  float: right;
  width: 17%;
  max-width: 190px;
  height: auto;
  display: inline;
  margin-top: -57px;
  padding: .9em; }

.newsTeaser {
  border-top: 1px solid #fff;
  padding: .6em 0 1em; }
  .newsTeaser h2 {
    font-family: Georgia, serif;
    font-size: 125%; }
  .newsTeaser h3 {
    margin-bottom: 0;
    padding-bottom: 0;
    color: #fff; }
  .newsTeaser a {
    color: #f7e2a0;
    font-weight: bold; }
  .newsTeaser p.bodytext {
    font-size: 110%; }

.news-list-container .showResultsWrap {
  display: none; }

#newsnavi {
  position: relative;
  width: 100%;
  text-align: right;
  float: right;
  top: -35px; }

.news-list-date {
  float: right;
  color: #192d57;
  width: 180px;
  text-align: right;
  height: 20px;
  margin-top: -2px;
  margin-right: -2px;
  font-size: .8em;
  font-weight: normal; }

/* Hide duplicate more link in news list*/
span.news-list-morelink {
  display: none; }

#sitemap {
  padding: 1em 0;
  color: #9caede; }
  #sitemap ul li {
    list-style-type: disc;
    list-style-position: inside;
    padding-bottom: .3em;
    padding-top: .3em; }
  #sitemap a {
    color: #192d57;
    font-weight: normal; }

.tabs a, .advTabs a, .tabs span {
  color: #484848;
  background-color: #b5c5e6;
  border-right: 1px solid #c1d0ed; }

.currentTab, a.currentTab {
  color: #005; }

.tabs {
  position: relative;
  top: -10px;
  left: 0;
  float: left;
  width: 100%; }
  .tabs a, .tabs span {
    float: left;
    padding: 3px 10px 3px 5px;
    text-decoration: none; }

.tabs ul, .advTabs ul {
  margin: 0;
  padding: 10px 10px 0 50px;
  list-style: none; }

.tabs li, .advTabs li {
  display: inline;
  margin: 0;
  padding: 0; }

.advTabs {
  position: relative;
  top: -10px;
  left: 0;
  float: left;
  width: 100%; }
  .advTabs a {
    float: left;
    padding: 3px 5px 0;
    text-decoration: none;
    font-weight: normal; }

.advFirst {
  padding: 1em .3em; }

.content-container .gokContainer.column ul {
  width: 24%;
  padding: 0;
  background: transparent; }
.content-container .gokContainer.column li {
  padding: 0;
  border: 0 none; }
  .content-container .gokContainer.column li.selected {
    background: #b5c5e6; }
  .content-container .gokContainer.column li.open:after, .content-container .gokContainer.column li.close:after {
    top: .5em;
    right: .3em; }
  .content-container .gokContainer.column li a {
    border-bottom: 1px dotted #484848;
    padding: 7px 12px 7px 7px;
    color: #484848;
    font-weight: normal;
    font-size: 100%; }
.content-container .gokContainer.column .GOKID {
  font-weight: bold; }

.tx-mathematicians .collection {
  font-weight: bold; }
.tx-mathematicians .owResult a img {
  padding: .5em; }
.tx-mathematicians #genResult {
  width: 600px; }
  .tx-mathematicians #genResult table {
    width: 90%;
    padding-bottom: 2.5em; }
.tx-mathematicians .clear2 {
  clear: both;
  padding: 2em; }
.tx-mathematicians .submStart {
  margin: 0 20px 0 10px;
  float: none; }
.tx-mathematicians .iputStart {
  float: none; }

td.data a.external-link[href$=".pdf"], td.data a.external_link[href$=".PDF"], td.data a.external-link-new-window[href$=".pdf"], a.external-link-new-window[href$=".PDF"] {
  background: url(../Images/pdf.png) bottom right no-repeat;
  padding: 5px 20px 0 0;
  line-height: 20px; }

td.data a.external-link[href$=".dvi"], td.data a.external_link[href$=".DVI"], td.data a.external-link-new-window[href$=".dvi"], a.external-link-new-window[href$=".DVI"] {
  background: url(../Images/dvi.png) bottom right no-repeat;
  padding: 5px 20px 0 0;
  line-height: 20px; }

td.data a.external-link[href$=".dvi.gz"], td.data a.external_link[href$=".DVI.GZ"], td.data a.external-link-new-window[href$=".dvi.gz"], a.external-link-new-window[href$=".DVI.GZ"] {
  background: url(../Images/dvi.gz.png) bottom right no-repeat;
  padding: 5px 20px 0 0;
  line-height: 20px; }

td.data a.external-link[href$=".ps"], td.data a.external_link[href$=".PS"], td.data a.external-link-new-window[href$=".ps"], a.external-link-new-window[href$=".PS"] {
  background: url(../Images/ps.png) bottom right no-repeat;
  padding: 5px 20px 0 0;
  line-height: 20px; }

td.data a.external-link[href$=".ps.gz"], td.data a.external_link[href$=".PS.GZ"], td.data a.external-link-new-window[href$=".ps.gz"], a.external-link-new-window[href$=".PS.GZ"] {
  background: url(../Images/ps.gz.png) bottom right no-repeat;
  padding: 5px 20px 0 0;
  line-height: 20px; }

td.data a.external-link[href$=".djvu"], td.data a.external_link[href$=".DJVU"], td.data a.external-link-new-window[href$=".djvu"], a.external-link-new-window[href$=".DJVU"] {
  background: url(../Images/djvu.png) bottom right no-repeat;
  padding: 5px 20px 0 0;
  line-height: 20px; }

td.data a.external-link[href$=".txt"], td.data a.external_link[href$=".TXT"], td.data a.external-link-new-window[href$=".txt"], a.external-link-new-window[href$=".TXT"] {
  background: url(../Images/txt.png) bottom right no-repeat;
  padding: 5px 20px 0 0;
  line-height: 20px; }

td.data a.external-link[href$=".html"], td.data a.external_link[href$=".HTML"], td.data a.external-link-new-window[href$=".html"], a.external-link-new-window[href$=".HTML"] {
  background: url(../Images/html.png) bottom right no-repeat;
  padding: 5px 20px 0 0;
  line-height: 20px; }

td.data a.external_link {
  color: #930; }

#cSearch {
  border-top: 1px solid #f0f0f0;
  font-size: 105%; }
  #cSearch h2 {
    font-size: 120%;
    font-family: Georgia, serif;
    font-weight: normal;
    letter-spacing: .1em; }
  #cSearch form {
    background-color: #b5c5e6; }
  #cSearch a#advancedLink {
    border-top: 2px solid #dae1f3;
    background-color: #b5c5e6; }
  #cSearch .tabs {
    position: relative;
    top: -20px;
    left: 0;
    float: left;
    width: 100%; }

#cText {
  float: left;
  width: 99%;
  padding: 0;
  position: relative;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  font-size: 110%; }

a.buttonlink {
  border-right: 1px solid #f0f0f0; }

.first, .second, .advFirst {
  background-color: #b5c5e6;
  border-bottom: 1px solid #c1d0ed; }

#tree a, ul.tabs li a {
  font-weight: normal; }

#iport_left_nav {
  font-size: 105%; }

ul.tabs li a.currentTab {
  font-weight: bold; }

.first, .advFirst {
  font-size: 93%;
  line-height: 1.4em; }

.dbGroup {
  font-weight: bold; }

#all, #no {
  font-size: 1.6em; }

span.aboText {
  font-size: 1.2em; }

div .showResultsWrap, div .browseLinksWrap {
  font-size: 1.2em; }

#adw {
  width: 125px;
  float: right; }

img#allsearch {
  position: absolute;
  top: 570px;
  left: 132px; }

#cSearch, #c735, #c738 {
  margin: 0;
  min-width: 500px;
  max-width: 1200px; }

#c735 #pazpar2 .pz2-mainForm {
  position: absolute;
  top: -30px;
  right: 0; }

#iport_content {
  position: relative; }

.cIconsetTop {
  float: right;
  text-align: right;
  width: 50%;
  height: auto;
  position: absolute;
  top: -2.9em;
  right: 0;
  display: inline; }

.cIconsetBottom {
  float: right;
  text-align: right;
  width: 50%;
  height: auto;
  margin-top: -1.9em;
  display: inline; }

h2.searchingIn {
  width: 50%;
  padding: 0 0 .47em;
  margin-left: 24%;
  margin-top: -1.7em; }

#iport_left_nav {
  float: left;
  width: auto;
  padding: 1em 0;
  margin-top: .4em; }

a.buttonlink {
  display: inline;
  padding: 0 1em 0 0;
  margin: 0 1em 0 0; }

#sponsorleiste {
  clear: both;
  width: 100%; }

a.close {
  padding: 5px; }

.hidden {
  display: none; }

.first, .second {
  padding: 0 0 1.3em; }

#ttp, #tpp {
  margin: 1em 0 0 .5em; }

div.second a {
  float: right;
  margin: 1.2em 1.9em 0 0; }

div.free {
  padding: 0 1.5em 1.5em; }

.text {
  padding-left: .5em; }

#searchMsc {
  margin-top: -.8em; }

#catalogues, #onlineDocs, #internet, #historicalMath {
  float: left;
  width: 45%;
  padding: 1em 2em 1em 0; }

#catalogues {
  padding-top: 2.2em; }

.all, .no {
  padding: 0 0 0 .5em; }

#clearer {
  clear: both; }

#right {
  border: 0; }

.current, a.currentTab {
  font-weight: bold; }

ul.csc-menu {
  margin: 1em 0 2em; }

.ow {
  height: 70px;
  padding: 0 .3em .3em 0; }

.externSearch {
  font-weight: bold;
  padding: .5em 0 0; }

HR.separator-line {
  clear: right;
  height: 1px;
  border: 1px solid #c1d0ed; }
