.content-container {
  float: left;
  width: 100%;
  min-width: 950px;
  padding: 2.5em 0 0;
  font-size: 85%;
  margin-bottom: 30px; }

h1.welcome {
  width: 76%;
  font-family: Georgia, serif;
  padding: 1em 0 1.6em;
  color: #fff;
  font-weight: normal;
  font-size: 1.7em;
  letter-spacing: .18em; }

.breadcrumbs {
  font-size: 95%; }

input#prefix {
  margin-bottom: -.5em; }

#right {
  border: 0; }
