HR.separator-line{
	clear:right;
	height:1px;
	border:1px solid #BBCAE7;

}

.news-list-date {
	float: right;
	color: #192d57;
	width: 180px;
	text-align: right;
	height: 20px;
	margin-top: -2px;
	margin-right: -2px;
	font-size: 0.8em;
	font-weight: normal;
}