<footer class="footer">
	<div id="cLogos">
		<a class="logo_dfg" href="{f:translate(key: 'footer-link-dfg')}" target="_blank"><f:translate key="external-link" />: <f:translate key="footer-link-dfg-title" /></a>
		<a class="logo_gau" href="{f:translate(key: 'footer-link-uni-goe')}" target="_blank"><f:translate key="external-link" />: <f:translate key="footer-link-uni-goe-title" /></a>
		<a class="logo_sub" href="{f:translate(key: 'footer-link-sub-goe')}" target="_blank"><f:translate key="external-link" />: <f:translate key="footer-link-sub-goe-title" /></a>
		<a class="logo_tib" href="{f:translate(key: 'footer-link-tib')}" target="_blank"><f:translate key="external-link" />: <f:translate key="footer-link-tib-title" /></a>
		<a class="logo_fiz" href="{f:translate(key: 'footer-link-fiz')}" target="_blank"><f:translate key="external-link" />: <f:translate key="footer-link-fiz-title" /></a>
		<a class="logo_math" href="{f:translate(key: 'footer-link-zentralblatt')}" target="_blank"><f:translate key="external-link" />: <f:translate key="footer-link-zentralblatt-title" /></a>
	</div>
</footer>
