<div class="row header-search">
    <f:form class="header-search-form" controller="Pazpar2" action="index" extensionName="pazpar2" pageUid="92" pluginName="pazpar2" section="pazpar2" method="get">
        <div class="input-group">
            <f:form.textfield name="queryString" id="header-search-form_input" placeholder="z. B. Wirtinger-Kalkül"/>
            <label for="header-search-form_input" class="sr-only">Suche nach mathematischen Inhalten</label>
            <button class="input-group-addon header-search-form_submit" type="submit" aria-pressed="true"><i class="fa fa-search"></i></button>
        </div>
    </f:form>
</div>
