<div class="row">
    <ul class="meta-navigation">
        <f:cObject typoscriptObjectPath="lib.metaNavigation"/>
        <li class="metanavigation-element">
            <span class="navbar-text languagemenu">
                <f:link.page additionalParams="{L: \" {f:translate(key:'header-languageswitch-id')}\"}" addQueryString="true" addQueryStringMethod="GET" class="languagemenu_switch">{f:translate(key: 'header-languageswitch')}</f:link.page>
            </span>
        </li>
    </ul>
</div>
