<div class="header">
    <div class="header-logo">
        <f:link.page pageUid="195">
            <f:image src="{f:uri.resource(path:'Images/logo.png')}" alt="Fachinformationsdienst Mathematik Logo"
                     title="{f:translate(key: 'header-logo-title')}" height="100"/>
        </f:link.page>
    </div>
    <f:render partial="actionsPicture"/>
</div>

<button class="menu-trigger">
    <f:translate key="menu">Menu</f:translate>
</button>

<div class="breadcrumbs">
    <span class="breadcrumb-title"><f:translate key="header-breadcrumb-title"/>:</span>
    <f:cObject typoscriptObjectPath="lib.breadcrumbs"/>
    <ul class="languagemenu">
        <li>
            <f:link.page additionalParams="{L: \" {f:translate(key:'header-languageswitch-id')}\"}" addQueryString="true" addQueryStringMethod="GET" class="languagemenu_switch">{f:translate(key: 'header-languageswitch')}</f:link.page>
        </li>
    </ul>
</div>
