<div class="main-container">

    <f:render partial="Header"/>

    <div class="content-container">
        <f:if condition="{pageUid} == 1">
            <f:then>
                <h1 class="headline-first_welcome">{pageTitle}</h1>
            </f:then>
            <f:else>
                <h1 class="headline-first_standard">{pageTitle}</h1>
            </f:else>
        </f:if>
        <div class="main two-columns">
            <div class="main-content">
                {mainContent -> f:format.raw()}
            </div>
            <aside class="main-sidebar">
                {asideContent -> f:format.raw()}
            </aside>
        </div>
    </div>
</div>
