<div class="main-container">

	<f:render partial="Header"/>

	<div class="content-container">
		<f:if condition="{pageUid} == 1">
			<f:then>
				<h1 class="welcome">{pageTitle}</h1>
			</f:then>
			<f:else>
				<h1 class="standard">{pageTitle}</h1>
			</f:else>
		</f:if>
		<div id="cLeft">
			<nav class="main-navigation">
				<f:cObject typoscriptObjectPath="lib.mainmenu"/>
			</nav>
			<div id="cInhalt">
				<div id="cText">
					<f:cObject typoscriptObjectPath="styles.content.get"/>
				</div>
			</div>
		</div>
	</div>
	<f:if condition="{pageUid} == 1">
		<f:render partial="Footer"/>
	</f:if>
</div>
